*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
/* -----------seccion top-------------- */
.top{
    height: 20px;
    background: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.ofertas{
    color: #f3f3f3;
    font-size: 10px;
    margin-right: 90px;
}
.idioma, .moneda{
    color: #f3f3f3;
    background: #222222;
    border-color: #222222;
    font-size: 10px;
    margin-left: 63px;
}
/* --------------------seccion nav--------------- */
header{
    background: #F0A83E;
    width: 100%;

}
.nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 44px; 
    height: 63px; 
}
.logo_nav{
    margin-left: 35px;
}


ul {
    text-decoration: none;
    display: inline;
}
.hamburguesa{
    color: #FFFFFF;
    width: 20px;
    height: 15.31px;
    display: none;
}
.menu {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}
.huella{
    padding: 25px;

}
/* ---------------seccion slide con z-index---------------- */
.contenedor1{
    
    position: relative;
    display: flex;
    /* width: 100%; */
    height: 409px;
    z-index: 2;
    /* width: 1024px; */
}
.bowl{
    
    background-size: contain;
}
/* .contenedor2{
    width: 1024px;
    position: relative;
    z-index: 2;
    display: flex;
} */

.contenedor{
    position: absolute;
    left: 648px;
    top: 165px;
    width: 365px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1;
    height: 85px;
    margin-bottom: 209px;
    justify-content: center;
    margin-right: 30px;
}
.slide1{
    color: #3C2313;
    font-size: 30px;
    background-color: #FFFFFF;
}
.slide2{
    font-size: 16px;
    color: #3C2313;
}
.comederos{
    background-color: #F0A83E;
    font-size: 16px;
    color: #FFFFFF;
    width: 141px;
    height: 49px;
    border: none;
}
/* ------------------------------- */

/* main .slide1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
} */

/* IMG .patitas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */
/* section .patitas{
      list-style: none;
      align-items: center;
      } */
      /* img .patitas{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
} */
/* section .centrado{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */
 /* .footer{
   background: #3C2313;
   color: #f3f3f3;
} */
/* ------------------responsivo--------------- */
@media (max-width: 800px){
 .top{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu{
    display: none;
    
}
/* -------se centra el logo */
.logo{
    display: flex;
    justify-content: center;
}
/* -------------icono de 3 lineas--------- */
.hamburguesa{
    display: block;
}
/* -----slider con z-index----------------- */
.contenedor{    /* -----lo que dice dentro del slide--------- */
    left: 24px;
}
.contenedor1{
display: inline-flex;
align-items: center;
justify-content: center;
flex-flow: column;

}
/* .contenedor{
    display: flex; */
    /* width: 365px;
    height: 81px;
    top: 202px; */
    /* left: 24px;
} */
}
