*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
    
/* -----------seccion top-------------- */
.top{
    height: 20px;
    background: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.ofertas{
    color: #f3f3f3;
    font-size: 10px;
    margin-right: 90px;
}
.idioma, .moneda{
    color: #f3f3f3;
    background: #222222;
    border-color: #222222;
    font-size: 10px;
    margin-left: 63px;
}
/* --------------------seccion nav--------------- */
header{
    background: #F0A83E;
    width: 100%;

}
.nav {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 44px; 
    height: 63px; 
}
.logo_nav{
    margin-left: 35px;
}


ul {
    text-decoration: none;
    display: inline;
}
.hamburguesa{
    color: #FFFFFF;
    width: 20px;
    height: 15.31px;
    display: none;
}
.menu {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
}
.huella{
    padding: 25px;

}
/* ---------------seccion slide con z-index---------------- */
.contenedor{
    background-image:url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover; 
    justify-content: end;
    height: 409px;
    width: 100%;
    display: flex;
    position: relative; 
    gap: 20px;

}
.slider{
    position: absolute;
    top: 165px;
    width: 365px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
    justify-content: center;
}
/* ---todo dentro del bowl */
.slide1{
    color: #3C2313;
    font-size: 30px;
    background-color: #FFFFFF;
}
.slide2{
    font-size: 16px;
    color: #3C2313;
}
.comederos{
    background-color: #F0A83E;
    font-size: 16px;
    color: #FFFFFF;
    width: 141px;
    height: 49px;
    border: none;
}
/* ------------------------------- */

/* main .slide1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
} */

/* IMG .patitas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */
/* section .patitas{
      list-style: none;
      align-items: center;
      } */
      /* img .patitas{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
} */
/* section .centrado{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
} */
 /* .footer{
   background: #3C2313;
   color: #f3f3f3;
} */
/* ------------------responsivo--------------- */
@media (max-width: 800px){
 .top{
    display: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu{
    display: none;
    
}
/* -------se centra el logo */
.logo{
    display: flex;
    justify-content: center;
}
/* -------------icono de 3 lineas--------- */
.hamburguesa{
    display: block;
}
/* -----slider igual logre usar el z-index jaja----------------- */
}
@media (min-width: 360px){
    .slider{
        position: absolute;
    }
}
